{% extends 'base.html' %}

{% block content %}
  <h1>A simple to-do application</h1>

  <a href="{{ url_for('todos.form') }}"><input type="button" value="Add to list"></a></li>
  <a href="{{ url_for('todos.completed_task') }}"><input type="button" value="Show completed task"></a></li>
  <a href="{{ url_for('todos.not_completed_task') }}"><input type="button" value="Show not completed task"></a></li>
  <a href="{{ url_for('todos.index') }}"><input type="button" value="Show all tasks"></a></li>
  <ul>
    {% for todo in todos %}
      <li class="{{ "completed" if todo['completed'] }}">
        {{ todo['description'] }}
        {% if todo['completed'] == False %}
        <a href="{{ url_for('todos.strike', id=todo['id']) }}"><input type="button" value="Complete"></a>
        {% endif %}
        <a href="{{ url_for('todos.delete', id=todo['id']) }}"><input type="button" value="delete"></a>

      </li>
    {% endfor %}
  </ul>
{% endblock %}
